[tool.black]
line-length = 88
target-version = ['py311']

[tool.isort]
profile = "black"

[tool.ruff]
line-length = 88
select = ["E", "F", "W", "C90", "B", "I"]
ignore = ["E203"]

[tool.mypy]
python_version = "3.11"
strict = true
ignore_missing_imports = true
